<div class="container">
  <mat-toolbar class="toolbar" color="primary">
    <div class="content" fxLayout="row" fxLayoutGap="25px">

    <div fxFlex="100px" fxLayout="row" fxLayoutAlign="center"><img src="../assets/person_white.svg" alt="Person Icon" /></div>
    <mat-nav-list class="navList" fxLayoutGap="17px">
      <mat-list-item routerLinkActive="active">
        <a routerLink="cv">CV</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a routerLink="game">Memo game</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a routerLink="results" >Results</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a routerLink="about-app" >About app </a>
      </mat-list-item>
    </mat-nav-list>
    </div>
  </mat-toolbar>
</div>
