<div class="mat-typography" fxLayout="column" fxLayoutAlign="center" fxFlex>
  <h2 mat-dialog-title fxFlex="80px">
  Level {{data.level}} completed
  </h2>

  <mat-dialog-content fxLayout="column" fxLayoutAlign="start center" fxFlex="100px">
    <p class="body-1">You have got {{data.timeBonus}} bonus points for speed</p>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
    <button mat-raised-button color="accent" mat-dialog-close>Next</button>
  </mat-dialog-actions>
</div>
